.confirmation-modal-card {
  width: 500px;
  min-height: 250px;
  border-radius: 48px;
  padding: 48px;
}

.question-text {
  margin-top: 8px;
  border-radius: 12px;
  background-color: #eeeeee;
  padding: 12px;
}

.button-row {
  position: absolute;
  right: 48px;
  bottom: 48px;
}
