<div class="activity-card">
    <div class="activity-header">
      <img src="assets/resources/images/avatar.jpg" alt="User Avatar" class="avatar" />
      <span class="user-info">
        <h4 class="username">{{activity.author.firstName + ' ' + activity.author.lastName}}</h4>
        <span class="date">{{getDateString(activity.postTime ) + ', '}}</span>
        <span class="date">{{getTimeString(activity.postTime)}}</span>
      </span>
    </div>
  <h3 class="activity-title">{{activity.title}}</h3>
  <div class="activity-description">{{activity.description}}</div>

  <div class="spread-row">
    <div class="flex-col">
      <h6>Participants</h6>
      <img src="assets/resources/images/avatar.jpg" alt="User Avatar" class="participant" *ngFor="let person of activity.persons" [matTooltip]="person.firstName + ' ' + person.lastName"/>
    </div>
    <div class="flex-col">
      <h6>Locations</h6>
      <mat-icon class="card-text" *ngFor="let location of activity.locations" [matTooltip]="location.name">place</mat-icon>
    </div>
  </div>
</div>
