<div class="modal-content">
    <div class="modal-header">
        <h3>Create New Activity</h3>
    </div>
    <div class="modal-content">
        <form [formGroup]="formGroup">
            <mat-dialog-content class="dialog-content">
                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <input matInput
                           formControlName="title"
                           required
                           id="title"
                           name="title"
                           maxlength="50">
                </mat-form-field>
                    
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <input id="description"
                           name="description"
                           type="text" matInput appNumeric
                           formControlName="description"
                           required>
                </mat-form-field>
                <div class="select-panels">
                    <div class="select-panel">
                        <mat-label>Participants</mat-label>
                        <div *ngFor="let personId of personIds.value; let i = index">
                            <div class="flex-row">
                                <mat-form-field>
                                    <mat-select placeholder="Add new Person">
                                        <mat-option *ngFor="let person of persons" [value]="person.id" (onSelectionChange)="onPersonSelectionChange($event, i)">
                                            {{person.firstName + ' ' + person.lastName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <button type="button" class="tiny-btn" (click)="removeParticipant(i)">-</button>
                            </div>
                        </div>
                        <button type="button" class="tiny-btn" (click)="addParticipant()">+</button>
                    </div>
                    <div class="select-panel">
                        <mat-label>Locations</mat-label>
                        <div *ngFor="let locationId of locationIds.value; let i = index">
                            <div class="flex-row">
                                <mat-form-field>
                                    <mat-select placeholder="Add new Location">
                                        <mat-option *ngFor="let location of locations" [value]="location.id" (onSelectionChange)="onLocationSelectionChange($event, i)">
                                            {{location.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <button type="button" class="tiny-btn" (click)="removeLocation(i)">-</button>
                            </div>
                        </div>
                        <button type="button" class="tiny-btn" (click)="addLocation()">+</button>
                    </div>
                </div>
                
            </mat-dialog-content>
        </form>
        
    </div>
    <div class="flex-row">
        <button class="btn-secondary" (click)="cancel()">Cancel</button>
        <button class="btn-success" (click)="saveActivityAndCloseDialog()">Save</button>
    </div>
</div>