<div class="modal-content">
    <div class="modal-header">
        <h3>Create New Activity</h3>
    </div>
    <div class="modal-content">
        <form [formGroup]="formGroup">
            <mat-dialog-content class="dialog-content">
                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <input matInput
                           formControlName="title"
                           required
                           id="title"
                           name="title"
                           maxlength="50">
                </mat-form-field>
                    
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <input id="description"
                           name="description"
                           type="text" matInput appNumeric
                           formControlName="description"
                           required>
                </mat-form-field>
                <div *ngFor="let personId of personIds.value; let i = index">
                    <mat-label>{{'Participant ' + i}}</mat-label>
                    <mat-form-field>
                        <mat-select placeholder="Add new Person">
                            <mat-option *ngFor="let person of persons" [value]="person.id" (onSelectionChange)="onPersonSelectionChange($event, i)">
                                {{person.firstName + ' ' + person.lastName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-dialog-content>
        </form>
    </div>
</div>