<nav class="navbar">
  <div class="navbar-left">
    <span class="logo">Activity Blog</span>
  </div>

  <ul class="navbar-menu">
    <li><a routerLink="/activities" routerLinkActive="active" class="nav-link">Activities</a></li>
    <li><a routerLink="/persons" routerLinkActive="active" class="nav-link">Persons</a></li>
    <li><a routerLink="/locations" routerLinkActive="active" class="nav-link">Locations</a></li>
  </ul>

  <div class="navbar-right">
    <img src="assets/resources/images/avatar.jpg" alt="Avatar" class="avatar" />
  </div>
</nav>
