.header-bar {
    display: flex;
    flex-direction: row;
    padding: 16px;
    justify-content: baseline;
    border-width: 1px 0px;
    border-style: solid;
    border-color: black;
    background-color: black;
    gap: 16px;
}

.aria-selected {
    color: yellow;
}