@import './node_modules/bootstrap-scss/bootstrap';

.card-container {
    border-color: rgb(240,240,240);
    border-style: solid;
    border-radius: 16px;
    padding: 16px;
    background-color: rgb(236, 246, 255);
}

.card-text {
    padding-left: 16px;
}